.container {
  width: 600px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  display: block;
  color: #383941;
  font-size: medium;
  height: 700px;
  background-position: center;
  background-color: white;
  text-align: center;
}
.flex {
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  box-sizing: content-box;
  width: 550px;
  padding: 5px;
  margin: 15px;
}

body {
  width: 1800px;
  padding-top: 25px;
  padding-bottom: 10%;
  padding-block-start: 25%;
  padding-block-end: 5%;
  height: 800px;
  background: #383941;
}

.center {
  width: 600px;
  height: 0 auto;
  background-color: black;
  color: white;
}
.p {-
  width: 150px;
  height: 150px;
}

.box {
  padding: 15px 5px;
  justify-content: space-around;
  width: 550px;
  align-content: space-around;
}

.V {
  margin-top: 55px;
}
